*{
    margin: 0;
    padding: 1;
  
    
}
.logo img{
    width: 60px;
    height: 60px;
}
.images {
    display: flex;
    flex-wrap: wrap;
}

#photo {
    height: 350px;
}

#photo img {
    width: 350px;
    height: 350px;
    padding-left: 125px;
    
    
}
.form{
}


.footer{
    background-color: rosybrown;
    margin-left: 0%;
}
.content{
    margin-bottom: 2%;
    margin-top: 1%;
    margin-left: 4%;
    margin-top: 1%;
    margin-right: 4%;
}

table{
    margin-top: 7%;
    margin-left: 5%;
    margin-right: 5%;
    border-collapse: collapse;
    height: 400px;
    width: 1000px;
   
}

table, th, td{
    border:1px solid black;
    }