*{
    margin: 0;
    padding: 1;
    box-sizing: border-box;
    
}
.logo img{
    width: 60px;
    height: 60px;
}
.images {
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 50px; */
    padding: 4%;
    margin-left: 10%;
    margin-right: 10%;
}

.photo {
    max-width: 31.333%;
    padding: 4%;
    height: 240px;

    /* margin-left:15%; */
    /* margin-right: 15%; */
}

.photo img {
    width: 150px;
    height: 150px;
    border-radius: 25%;
}

.background{
    background: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    height: 580px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 83px;
    text-align: center;
    
}

#box{
    padding-top: 18%;
    

}
