/* *{
    margin: 0;
    padding: 0;
    
} */
.logo img{
    width: 150px;
    height: 200px;
}
.images {
    /* display: flex; */
    flex-wrap: wrap;
    /* margin: 0 50px; */
    /* padding: 30px; */
}

/* .photo {
    max-width: 31.333%;
    padding: 0 10px;
    height: 240px;
} */

.photo img {
    width: 800px;
    height: 400px;
}