*{
    margin: 0;
    padding: 1;
    
}
.logo img{
    width: 60px;
    height: 60px;
}
.images {
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 50px; */
    /* padding: 5%; */
    padding-left: 9%;
 
}

#photo {
    /* max-width: 31.333%; */
    /* padding: 0 10px; */
    height: 240px;
    background-color:  lightgrey  ;
    width: 40%;
}

#photo a{
    text-decoration: none;
    color: black;
    display: flex;
    
}




#photo img {
    width: 150px;
    height: 150px;
    margin-right: 3%;

}
.header{
    background-color: rosybrown;
}

.nav{
    padding-top: 100px;
    display: flex;
    list-style-type: none;
    
}

.mapView{
    text-decoration: none;
}

.listView{
    width: 10%;
    margin-left: 40%;
}

.listView a{
    text-decoration: none;
    color: black;
}

.mapView a{
    text-decoration: none;
    color: black;
}

.text{
    
}