*{
    margin: 0;
    padding: 1;
    
}
.logo img{
    width: 60px;
    height: 60px;
}
.images {
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 50px; */
    /* padding: 5%; */
    padding-left: 9%;
 
}

#photo {
    /* max-width: 31.333%; */
    /* padding: 0 10px; */
    height: 240px;
    background-color:  lightgrey  ;
    width: 40%;
}

#photo a{
    text-decoration: none;
    color: black;
    display: flex;
    
}




#photo img {
    width: 150px;
    height: 150px;
    margin-right: 3%;

}
.header{
    background-color: rosybrown;
}

.nav{
    padding-top: 100px;
    display: flex;
    list-style-type: none;
    
}

.mapView{
    text-decoration: none;
}

.listView{
    width: 10%;
    margin-left: 40%;
}

button:hover{
   background: skyblue;
   border-color:  skyblue;
}

.listView a{
    text-decoration: none;
    color: black;
}

.mapView a{
    text-decoration: none;
    color: black;
}

.text{
    
}

#photo:hover{
    
        background: rosybrown;
}

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .checked {
    color: orange;
  }